@use "../../styles/utils/mixin" as mix;
@use "../../styles/utils/variables" as var;
@use 'sass:color';


.sideBar {
    display: flex;
    flex-direction: column;
    @include mix.layout-components(var.$main-color, 5%)
}

.logOut {
    margin-left: auto;
    align-self: self-start;
}

.listUsers {
    margin-top: 15px;
    height: 50vh;
    overflow-y: auto;
}