html {
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font: 400 14px/1.2 'Roboto', sans-serif;
    color: #212121;
    background-color: rgba(151, 216, 248, 0.41) !important;
    letter-spacing: 0.04em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}